<footer id="toolbar">
<span class="footer_icon" id="map_button"><i class="fa fa-globe fa-4x"></i></span>
  <span class="footer_icon" id="drop_message_button"><i class="fa fa-comment fa-4x"></i></span>
  <span class="footer_icon" id="user_profile_button"><i class="fa fa-user fa-4x"></i></span>
  <span class="footer_icon" id="drop_advert_button"><i class="fa fa-dollar fa-4x"></i></span>
</footer>