<div id="new_pic_buttons">
  <div class="photo_option" id="new_picture_div">
    <h3>Choose Photo</h3>
  </div>

  <button class="photo_option" id="new_picture_submit">
    <h3>Preview</h3>
  </button>

  <button class="photo_option" id="new_picture_send">
    <h3>Submit</h3>
  </button>

  <div class="photo_option" id="new_picture_cancel">
    <h3>Cancel</h3>
  </div>
</div>


<%= form_for picture, html: { multipart: true }, :remote => true do |f| %>
  <%= f.file_field :picture, id: "picture_field" %>
  <%= f.submit "Drop Picture", :id => 'create_picture_submit' %>
  <%= f.button "Next", :id => 'create_picture_cancel' %>
<% end %>

