@font-face {
  font-family: 'OpenSans-CondLight';
  src: asset-url('OpenSans-CondLight.ttf');
}

h2 {
  font-family: 'OpenSans-CondLight';
}

html, body, #map-canvas {
  height: 100%; margin: 0; padding: 0;
}

#map-canvas {
  position: relative;
}

.btn-spacing {
  padding: 15px 70px;
  margin: 1em;
}

.center-btn {
  text-align: center;
}



