body {
  overflow:hidden;
  width:100%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  #toolbar {
    height: 8%;
    font-size: .6em;
    .footer_icon {
      padding-right: 6%;
    }
  }
  .navbar-nav {
    margin: 0;
    a {
      float: right;
      
    }
  }
  .header, h2 {
    font-size: 1.2em;
  }

}