#new_picture {
  width: 100%;
  font-size: 2.2em;
}

#picture_field {
    margin: auto;
    height: 2em;
    float: right;
    padding: 2%;
    background-color: #fff;
  }

  #create_picture_submit {
    width: 50%;
    height: 3em;
    border: 0px;
    margin: 0;
    padding: 5px;
    background-color: #42c483;
    float: right;
  }

  #create_picture_cancel {
    width: 50%;
    height: 3em;
    border: 0px;
    margin: 0;
    padding: 5px;
    background-color: #f7584c;
    float: left;
  }

#new_picture_div {
  width: 100%;
  display: table;

}

#new_picture_submit {
  width: 100%;
  display: table;
}

#new_picture_cancel {
  width: 100%;
  display: table;
}

#new_pic_buttons {
  display: none;
  width: 100%;
  bottom: 11%;
  position: absolute;
  z-index: 500;
  background: rgba(0, 0, 0, 0.5);
}

#new_pic_buttons div {
  padding-top: 2%;
  padding-bottom: 2%;
  word-wrap: break-word;
}

#new_pic_buttons h3 {
  font-size: vw;
  margin: 0;
  padding:2%;

  display: table-cell;
  text-align: center;
  vertical-align: middle;
}