#messageArea {
  z-index: 100;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: auto;
  padding-top: 3em;
  padding-bottom: 4em;
  border: 0px;
  background: white;
  text-align: center;
}

#message-close {
  width: 100%;
  font-size: 2em;
}

.message-content {
  font-size: 1.5em;
}

.message-image img {
  max-height: 8em;
}
