footer {
  text-align: center;
  position: fixed;
  height: 6em;
  bottom: 10%;
  background-color: #3d4c45;
  width: 100%;
  padding-top: 1.1em;

  .footer_icon {
    padding-right: 4%;
    color: #f4f4f4;
  }
}

.footer_icon.active {
  color: #80FFC4;
}